/* Global */

/* * {
    border: 2px solid red;;
  } */

html {
  font-family: 'Libre Franklin', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.btn {
  margin-left: 1em;
  padding: 7px 12px;
  display: block;
  font-family: inherit;
  font-size: .8rem;
  color: #fff;
  background-color: #567b95;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(50, 104, 145);
}

/* Header */

.topbar {
  position: fixed;
  padding: .5em;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
}

.search-icon {
  margin-left: 1em;
}

.name-section {
  margin: 0 1em;
  font-size: 0.8rem;
}

.logo {
  flex: 1;
  text-align: center;
}

@media (max-width: 720px) {
  .name-section {
    display: none;
  }
}

@media (max-width: 500px) {
  .search-icon,
  .subscribe-btn {
    display: none;
  }

  .btn {
    margin-left: 0;
  }
}

/* Article */

main {
  position: relative;
  top: 120px;
  margin: auto;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-header {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.title {
  padding-bottom: 20px;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2;
  border-bottom: 1px solid lightgray;
}

.share-icons {
  padding-top: .5em;
  padding-bottom: 20px;
  width: 20%;
  display: flex;
}

.share-item {
  margin: .5em;
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: #eee;
  border-radius: 50%;
}

.main-image {
  margin: auto;
  width: 55vw;
}

figcaption {
  margin-top: .7rem;
  margin-bottom: .7rem;
  width: 650px;
}

.caption {
  color: #666;
  font-size: .8rem;
}

.credit {
  color: #888;
  font-size: .6rem;
}
