/* Global */

/* *,
div {
    border: 2px solid red;
  } */

html {
  font-family: 'Libre Franklin', sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.3rem;
  line-height: 1.875rem;
}

.btn {
  margin-left: 1em;
  padding: 7px 12px;
  display: block;
  font-family: inherit;
  font-size: .8rem;
  color: #fff;
  background-color: #567b95;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(50, 104, 145);
}

/* Header */

.topbar {
  position: fixed;
  padding: .5em;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
}

.search-icon {
  margin-left: 1em;
}

.name-section {
  margin: 0 1em;
  font-size: .8rem;
  font-weight: bold;
}

.logo {
  flex: 1;
  text-align: center;
}

@media (max-width: 720px) {
  .name-section {
    display: none;
  }
}

@media (max-width: 500px) {
  .search-icon,
  .subscribe-btn {
    display: none;
  }

  .btn {
    margin-left: 0;
  }
}

/* Article */

main {
  position: relative;
  top: 120px;
  margin: auto;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Article Header */

.article-header {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.title {
  padding-bottom: 20px;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2;
  border-bottom: 1px solid rgb(224,222,222);
}

.share-icons {
  padding-top: .5em;
  padding-bottom: 20px;
  width: 20%;
  display: flex;
}

.share-item {
  margin: .5em;
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: #eee;
  border-radius: 50%;
}

/* Main Image */

figure {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-image {
  width: 55vw;
  height: 100%;
}

figcaption {
  margin-top: .7rem;
  margin-bottom: .7rem;
  padding-left: 2.3em;
  width: 650px;
  align-self: start;
}

.caption {
  color: #666;
  font-size: .8rem;
}

.credit {
  color: #888;
  font-size: .6rem;
}

@media screen and (min-width: 500px) and (max-width: 1154px) {
  .main-image {
    width: 70vw;
    height: 100%;
  }
}

@media screen and (min-width: 200px) and (max-width: 499px) {
  .main-image {
    width: 100%;
    height: auto;
  }
}

/* Author and Date */

article {
  margin-top: 1em;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author-details {
  margin-bottom: 1em;
  padding-bottom: 3em;
  width: 100%;
  align-self: start;
  font-size: .9rem;
  font-weight: 300;
  line-height: 2em;
  border-bottom: 1px solid rgb(224,222,222);
}

.article-date {
  font-size: .8rem;
}

/* Article Body */

.article-paragraph {
  margin-top: .5em;
  margin-bottom: .5em;
}

.nyt-divider {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Libre Franklin', sans-serif;
  font-size: .9rem;
}

.nyt-divider > p {
  font-size: 1.1rem;
}

.nyt-link {
  margin-bottom: 1em;
  color: rgb(50,104,145);
}

.nyt-divider::before,
.nyt-divider::after {
  content: '';
  width: 10%;
  height: 1px;
  background-color: rgb(204,204,204);
}

/* Inflation Theory */

.inflation-title {
  margin-top: 1em;
  margin-bottom: .3em;
  font-size: 1.1rem;
  font-weight: bold;
}

.inflation-intro {
  margin-bottom: 1em;
  font-size: .9rem;
  line-height: 1rem;
  color: #666;
}

.inflation-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: .5em;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .9rem;
  line-height: 1rem;
}

.text-item > span {
  text-transform: uppercase;
  font-weight: bold;
}

.img-item {
  width: 230px;
  height: 170px;
  display: block;
  background-image: url(../assets/miscelanea.png);
  background-size: 900px 610px;
}

.img-item-1 {
  background-position: 0% 0%;
}

.img-item-2 {
  background-position: 32% 0%;
}

.img-item-3 {
  background-position: 66% 0%;
}

.img-item-4 {
  background-position: 100% 0%;
}

.img-item-5 {
  background-position: 0% 70%;
}

.img-item-6 {
  background-position: 34% 70%;
}

.img-item-7 {
  background-position: 68% 70%;
}

.img-item-8 {
  background-position: 100% 70%;
}

.infographic-authors {
  margin-top: 1em;
  margin-bottom: 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.infographic-authors > p {
  padding-top: 1em;
  font-size: .9rem;
}

.infographic-authors::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: #000;
}

@media screen and (max-width: 1000px) {
  .inflation-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  
  .inflation-title,
  .inflation-intro,
  .inflation-grid,
  .infographic-authors {
    padding: 0 1em;
  }
}

@media screen and (max-width: 600px) {
  .inflation-grid {
    grid-template-columns: 300px;
    grid-template-rows: repeat(8, 1fr);
  }

  .inflation-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inflation-intro {
    width: 300px;
  }
}

/* Youtube Embed and Antenna Image */

.youtube-figure {
  margin-top: 2em;
  margin-bottom: 2em;
}

.youtube-caption,
.image-caption {
  font-size: .8rem;
  color: #666;
}

.youtube-caption > span,
.image-caption > span {
  font-size: .6rem;
}

.close-article {
  margin-top: 2em;
  display: inline-block;
  font-size: .7rem;
  color: #666;
}

/* Comments */

.comments {
  margin-top: 1em;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.comments-btn {
  margin-left: 0;
  width: 312px;
  height: 32px;
}
/* Aside Editors' Picks */

aside {
  position: absolute;
  top: 1600px;
  right: 1em;
  margin-right: 2em;
  width: 15%;
  display: flex;
  flex-direction: column;
}

.editors-picks-title {
  padding-bottom: .5em;
  border-bottom: 1px solid rgb(204,204,204);
}

.editor-article {
  display: flex;
  align-items: start;
  cursor: pointer;
}

.editor-article > img {
  margin-top: 1em;
  margin-right: .5em;
  width: 75px;
  height: 75px;
}

.editor-article > p {
  margin-top: 1em;
  align-self: center;
  font-size: .9rem;
  font-weight: bold;
  line-height: 1rem;
}

@media screen and (max-width: 1200px) {
  aside {
    display: none;
  }
}